
html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(15, 15, 15);
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

#header {
    position: relative;
    height: 500px;
    background-image: url("assets/header_image.jpg");
    background-position: 0% 100%;
    margin: 0;
    padding: 0;
}

#header__nav {
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0));
}

#header__nav ul {
    
    list-style-type: none;
    bottom: 0px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header__nav ul li {
    width: auto;
    text-align: center;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#header__nav__active {
    height: 45px;
    border-bottom: 5px solid gray;
}

#header__nav ul li a{
    display: block;
    width: 130px;
    height: 50px;
    color: white;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

#header__nav ul li a div {
    transform: translate(0px, 12px);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: larger;
    
}

#header__nav ul li:hover {
    background-color: rgb(121, 0, 0);
}

#pizza__order {
    animation: all 0.5s;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 58%;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.order_item {
    animation: all 0.5s;
    width: 200px;
    height: 250px;
    margin: 5px;
    background-color: #151c22;
    border: 1px solid black;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 5px;
}

#shopping_cart i {
    float: right;
    cursor: pointer;
    margin-left: 5px;
}

.order_item h3{
    text-align: center;
}

.add_to_cart_btn {
    width: 50%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border: 1px solid black;
}

.add_to_cart_btn:hover {
    background-color: rgb(136, 0, 0);
}

.add_to_cart_btn:active {
    background-color: rgb(51, 0, 0);
}

.order_item_img {
    margin-top: 5px;
    width: 90%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.order_item_img img{
    max-height: 100%;
}

.order_item:hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 3px black;
}

#order {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#order__block_1 {
    width: 50%;
    float: left;
    background-color: rgb(61, 60, 60);
    box-shadow: 3px 3px 3px black;
    border-radius: 5px;
}

#order__block_1 h3 {
    text-align: center;
}

#order__block_2 {
    width: 40%;
    float: right;
    min-height: 200px;
    border-radius: 5px;
}

#order form {
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

#order form input {
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    border-radius: 5px;
}

#order form input[type=text]:focus {
    outline-color: rgb(192, 6, 6);
}

.order_input_field {
    margin-left: 15px;
    width: 100%;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    text-align: center;
}

.order_input_field label {
    margin-top: 10px;
}

#order__submit {
    background-color: rgb(100, 0, 0);
    height: 40px;
    width: 120px;
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

#order__submit h3{
    text-align: center;
    transform: translate(0px, 10px);
}

#order__submit:hover {
    background-color: rgb(131, 0, 0);
}

#order__submit:active {
    background-color: rgb(63, 0, 0);
}

#shopping_cart {
    margin: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
    background-color: rgb(61, 60, 60);
    box-shadow: 3px 3px 3px black;
    margin-bottom: 30px;
}

#shopping_cart p {
    width: 100%;
    border-top: 1px solid black;
}

#footer {
    display: block;
    width: 100%;
    height: 100px;
    background-image: url("assets/header_image.jpg");
    clear: both;
    position: relative;
    height: 150px;
    margin-top: -150px;
}